body{
    background-color: black;
}

.container{
width: 80px;
text-align: center;
display: relative;
left: 0px;
}

.box {
    display: inline-block;
    margin: 0 auto;
    width:20px;
    height:30px;
    margin:1px;
    background-color:#0000FF;
}

.blackout {
    display: inline-block;
    margin: 0 auto;
    width:20px;
    height:30px;
    margin:1px;
    background-color:black;
}