body{
    /*background-color: #F7F39A;*/
    background: url(https://files.slack.com/files-pri/T04UPFZ31-F68BSEQ6L/back01.jpg);
    /*background-size: cover;*/
    -webkit-background-size:cover;
    -moz-background-size: cover;
    -o-background-size: cover;

}

.container{
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
    display: block;
    white-space: nowrap;
}


.box {
    display: inline-block;
    margin: 0 auto;
    width:40px;
    height:50px;
    margin:1px;
    /* background-color: #A3DE83; */
    background-color: white;
    border-radius: 8px;
    font-family: arial;
    font-size: 11px;
    text-align: center;
    vertical-align: middle;
    border: 2px solid black;
  
   
}

.box:hover {
    background-color: tan;
}

.blackout {
    display: inline-block;
    margin: 0 auto;
    width:20px;
    height:30px;
    margin:1px;
    /* background-color:#F7F39A; */
    color: #59d6e3;
}

.reserve {
    background-color: red;
}

#screen {
    margin: 0 auto;
    margin-top: 50px;
    background-color: white;
    opacity: 0.7;
    border: black;
    width: 400px;
    text-align: center;
    padding: 5px;
    border-radius: 15px;
}


.booking-details {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    /* background-color: #F7F39A; */
    background-color: white;
    position: fixed;
    right: 20px;
    padding: 10px;
    width: 200px;
    height: auto;
    margin-top: -80px;
    border-left: 1px solid #346473; 
    word-wrap:break-word;
}

#bookTitle {
    font-family: 'Raleway', sans-serif;
    /* color: #346473; */
    color: red;
    font-size: 24px;
}

#nameInput {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    display: inline-block;
    width: 70%;
    height: 24px;
    line-height: 18px;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 0px solid #346473;

}

.box.purchased{
    background-color: grey;
    opacity: .4;

}

